// Tablet size

@media (max-width: 62em) {
    header {
       position: relative;
        .header-content {
            // position: relative;
            padding-left: 40px;

            .header-nav ul {
                display: none;
            }
    
            .burger-nav ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                gap: 40px;
                align-items: flex-end;
                position: absolute;
                right: 0;
                padding: 40px;
                background-color: $black;
            }

            .logo-wrapper {
                width: 220px;
              }
        }

        .burger-menu-container {
            display: flex;
            align-items: center;
            width: 40px;
            height: 40px;
            z-index: 100;
            position: fixed;
            right: 0;
            top: 0;
            margin: 30px 30px 0 0;
          }
    }
 
    .landing {
        .landing-input-group {
            flex-direction: column;
            align-items: center;
        }

        .single-input {
            align-items: center;
        }
    }
    
}

// Mobile size
@media (max-width: 30em) {
  header {
      .header-content {

        .logo-wrapper {
            width: 180px;
        }
      }
  }

  .landing {
      h1 {
          font-size: 50px;
      }

      .landing-content {
          
            h2 {
                font-size: 16px;
            }

            .landing-content-bg {
                height: 55vh;
            }
      }
  }

}