// Tablet size

@media (max-width: 62em) {
  header {
    position: relative;
    .header-content {
      padding: 30px;

      .header-nav ul {
        display: none;
      }

      .burger-nav ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 40px;
        align-items: flex-end;
        position: absolute;
        right: 0;
        padding: 40px;
        background-color: $black;
      }

      .logo-wrapper {
        width: 220px;
      }
    }

    .burger-menu-container {
      display: flex;
      align-items: center;
      width: 35px;
      height: 35px;
      z-index: 100;
      position: fixed;
      right: 0;
      top: 0;
      margin: 25px 30px 0 0;
    }
  }

  .landing {
    .landing-input-group {
      flex-direction: column;
      align-items: center;
    }

    .single-input {
      align-items: center;
    }
  }

  .within-search {
    padding: 30px 0px;
    
    h1 {
        margin-left: 5vw;
        margin-right: 5vw;
    }
  }

  .vehicle-cards-container {
    gap: 50px !important;

    .vehicle-card {
      flex-direction: column;
      justify-content: center;
      width: 80vw;
      margin: 0 auto;
      padding: 40px 20px !important;
      gap: 30px;

      .vehicle-img-wrapper {
        width: 420px !important;
      }

      .vehicle-description {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;

        p {
          font-size: 13px !important;
        }
      }
    }
  }

  .fuel-consumption-div {
    width: 90vw;
  }

  .cost-breakdown {
    width: 70vw;
  }

  footer {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 40px;
  }
}

// Mobile size
@media (max-width: 30em) {
  header {
    .header-content {
        padding: 20px;
        height: 90px;

      .logo-wrapper {
        // width: 180px;
        // height: 100%;
      }
    }
  }

  .landing {
    h1 {
      font-size: 50px;
      padding-top: 150px;
    }

    .landing-content {
      h2 {
        font-size: 16px;
      }

      .landing-content-bg {
        height: 55vh;
      }
    }
  }

  .within-search {
    padding: 0;
    margin: 0 auto;
  }

  .vehicle-cards-container {
    gap: 50px !important;
    align-items: center;

    .vehicle-card {
      flex-direction: column;
      justify-content: center;
      width: 90vw;
      margin: 0 auto;
      padding: 40px 0 !important;
      gap: 30px;

      .vehicle-img-wrapper {
        width: 220px !important;
      }

      .vehicle-description {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;

        p {
          font-size: 12px !important;
        }
      }
    }
  }

  .icon-text-pair {
    width: 120px;

    h5 {
      font-size: 12px;
    }
  }

  .fuel-consumption-div {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    text-align: left;
    margin: 20px auto;
  }

  .cost-breakdown {
    width: 90vw;
    gap: 15px;

    .breakdown-list, .price-list {
        p {
            font-size: 14px;
        }
    }

    .total-price {
        text-align: right;
    }

    .price-list {
        text-align: right;
    }
  }

  .average-petrol-price-desc {
      padding: 0;
  }

  .provider-options-container {
      flex-direction: column;
      gap: 20px;
      align-items: center;
  }

  footer {
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
      flex-wrap: nowrap;

      .footer-divs {
          position: relative;

        hr {
            display: flex !important;
            width: 80vw;
            position: absolute;
            right: 2;
            color: $dark-grey;
        }
      }
  }
}
