@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Pakati";
  src: url("../Assets/Fonts/PurePakati-Notch.otf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
a {
  font-family: "Roboto", sans-serif;
}

body {
  color: #0d0d0d;
}

.link-white {
  color: #f2f2f2;
  text-decoration: none;
}

.link-white:hover {
  text-decoration: underline;
}

button, .button-style {
  background-color: #468c3b;
  color: #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  border: none;
}

button:hover, .button-style:hover {
  background-color: #0d0d0d;
  color: #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.no-display {
  display: none !important;
}

header .header-content {
  background-color: #0d0d0d;
  padding: 40px 70px;
  position: fixed;
  z-index: 10;
  width: 100%;
}
header .header-content .logo-wrapper {
  width: 250px;
}
header .header-content .header-nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
header .header-content .burger-nav ul {
  display: none;
}
header .header-content .burger-menu-container {
  display: none;
}

.landing {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Assets/Images/landing-cathedral-cove.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.landing h1 {
  font-family: "Pakati", sans-serif;
  padding-top: 200px;
  color: #e5e5e5;
  margin: 0;
  font-size: 80px;
  text-align: center;
}
.landing h2 {
  color: #e5e5e5;
  bottom: 180px;
  left: 33%;
  text-align: center;
}
.landing .landing-content {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.landing .landing-content-bg {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .landing-content-bg .landing-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.landing .landing-content-bg .landing-input-group .single-input {
  display: flex;
  flex-direction: column;
}
.landing .landing-content-bg .landing-input-group .single-input input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #0d0d0d;
  text-align: center;
  padding: 10px;
}
.landing .landing-content-bg .landing-input-group .single-input input:focus {
  outline: 2px solid #0d0d0d;
  border: none;
}
.landing .landing-content-bg .landing-input-group .single-input input::-moz-placeholder {
  color: #c5c5c5;
  font-style: italic;
  font-size: 14px;
}
.landing .landing-content-bg .landing-input-group .single-input input:-ms-input-placeholder {
  color: #c5c5c5;
  font-style: italic;
  font-size: 14px;
}
.landing .landing-content-bg .landing-input-group .single-input input::placeholder {
  color: #c5c5c5;
  font-style: italic;
  font-size: 14px;
}
.landing .landing-content-bg .landing-input-group .single-input #num-people,
.landing .landing-content-bg .landing-input-group .single-input #distance {
  width: 110px;
}
.landing .landing-content-bg .landing-input-group .single-input #date-range {
  width: 250px;
}
.landing .landing-content-bg .landing-input-group a {
  display: flex;
  color: #e5e5e5;
  align-items: center;
  justify-content: center;
  width: 110px;
  gap: 5px;
  text-decoration: none;
}
.landing .landing-content-bg .landing-input-group a .search-icon-container {
  width: 20px;
}
.landing .landing-content-bg .landing-input-group button:hover {
  background-color: #0d0d0d;
  color: #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.within-search {
  padding: 30px 50px;
  margin: 0 auto;
}
.within-search .vehicle-cards-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.within-search .vehicle-cards-container .vehicle-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px #c5c5c5);
}
.within-search .vehicle-cards-container .vehicle-card h1 {
  margin: 5px 0;
}
.within-search .vehicle-cards-container .vehicle-card .vehicle-card:nth-child(2) {
  flex: 2;
}
.within-search .vehicle-cards-container .vehicle-card .vehicle-img-wrapper {
  height: 180px;
  width: 250px;
  background-color: #fff;
  border-radius: 5px;
}
.within-search .vehicle-cards-container .vehicle-card .vehicle-img-wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
}
.within-search .vehicle-cards-container .vehicle-card .vehicle-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.within-search .vehicle-cards-container .vehicle-card .vehicle-description p {
  font-size: 14px;
}
.within-search .vehicle-cards-container .vehicle-card .vehicle-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.within-search .vehicle-cards-container .vehicle-card .vehicle-rate .button-style {
  width: 180px;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
}

.icons-and-details-group-a, .icons-and-details-group-b {
  display: flex;
  align-items: center;
}

.icon-text-pair {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 173px;
}
.icon-text-pair .icon-img {
  width: 16px;
  height: 16px;
  -o-object-fit: contain;
     object-fit: contain;
}

.calculation-section {
  width: 90vw;
  margin: 0 auto;
}

.calculation-estimate-wrapper {
  border-top: 1px solid #0d0d0d;
  border-bottom: 1px solid #0d0d0d;
  width: 90vw;
  margin: 0 auto;
}

.costs-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fuel-consumption-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1a736a;
  color: #fff;
  padding: 30px;
  width: 80vw;
  margin: 20px auto;
  text-align: center;
}

.cost-breakdown {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: 0 auto;
}
.cost-breakdown .breakdown-list, .cost-breakdown .price-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cost-breakdown .breakdown-list .cost-title, .cost-breakdown .price-list .cost-title {
  text-decoration: underline;
}
.cost-breakdown .breakdown-list .cost-total, .cost-breakdown .price-list .cost-total {
  color: #1a736a;
  font-weight: 800;
}
.cost-breakdown .price-list {
  align-items: flex-end;
}
.cost-breakdown .price-list h4 {
  text-decoration: underline;
}

.average-petrol-price-desc {
  font-style: italic;
  font-size: 14px;
  padding: 0 20px;
}

.rental-providers-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 90vw;
  margin: 30px auto;
}
.rental-providers-section .provider-options-container {
  display: flex;
  justify-content: space-evenly;
}
.rental-providers-section .button-style {
  width: 180px;
  padding: 12px 0;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

.provider-button-div {
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.provider-button-div a {
  text-decoration: underline;
}
.provider-button-div img {
  width: 40px;
  height: 40px;
}

.provider-button-div:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 10px 6px #c5c5c5);
}

#calculation-and-rental-links-group {
  margin-bottom: 100px;
}

#outside-search {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#outside-search .no-results-title {
  display: flex;
  align-items: center;
  gap: 15px;
}
#outside-search .no-results-title .fern-icon-container {
  width: 40px;
  height: 40px;
}
#outside-search .button-style {
  width: 150px;
  margin: 30px auto;
  text-align: center;
  text-decoration: none;
}
#outside-search .button-style:hover {
  background-color: #0d0d0d;
  color: #e5e5e5;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  background-color: #0d0d0d;
  padding: 30px;
  width: 100%;
}
footer .footer-divs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fff;
}
footer .footer-divs p {
  font-size: 14px;
}
footer .footer-divs h3 {
  margin: 10px 0;
}
footer .footer-divs .find-us {
  width: 100px;
}
footer .footer-divs .find-us img {
  width: 16px;
  height: 16px;
}
footer .footer-logo-wrapper {
  height: 50px;
}
footer .footer-logo-wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 62em) {
  header {
    position: relative;
  }
  header .header-content {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  header .header-content .header-nav ul {
    display: none;
  }
  header .header-content .burger-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
    align-items: flex-end;
    position: absolute;
    right: 0;
    top: 80px;
    padding: 40px;
    background-color: #0d0d0d;
  }
  header .header-content .burger-menu-container {
    display: block;
    z-index: 100;
    scale: 0.7;
  }
  .landing .landing-input-group {
    flex-direction: column;
    align-items: center;
  }
  .landing .single-input {
    align-items: center;
  }
  .within-search {
    padding: 30px 0px;
  }
  .within-search h1 {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .vehicle-cards-container {
    gap: 50px !important;
  }
  .vehicle-cards-container .vehicle-card {
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: 0 auto;
    padding: 40px 20px !important;
    gap: 30px;
  }
  .vehicle-cards-container .vehicle-card .vehicle-img-wrapper {
    width: 420px !important;
  }
  .vehicle-cards-container .vehicle-card .vehicle-description {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .vehicle-cards-container .vehicle-card .vehicle-description p {
    font-size: 13px !important;
  }
  .fuel-consumption-div {
    width: 90vw;
  }
  .cost-breakdown {
    width: 70vw;
  }
  footer {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px;
  }
}
@media (max-width: 30em) {
  header .header-content {
    justify-content: space-between;
    padding: 20px;
    height: 90px;
  }
  header .header-content .burger-menu-container {
    scale: 0.65;
  }
  .landing h1 {
    font-size: 50px;
    padding-top: 150px;
  }
  .landing .landing-content h2 {
    font-size: 16px;
  }
  .landing .landing-content .landing-content-bg {
    height: 55vh;
  }
  .within-search {
    padding: 0;
    margin: 0 auto;
  }
  .vehicle-cards-container {
    gap: 50px !important;
    align-items: center;
  }
  .vehicle-cards-container .vehicle-card {
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
    padding: 40px 0 !important;
    gap: 30px;
  }
  .vehicle-cards-container .vehicle-card .vehicle-img-wrapper {
    width: 220px !important;
  }
  .vehicle-cards-container .vehicle-card .vehicle-description {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .vehicle-cards-container .vehicle-card .vehicle-description p {
    font-size: 12px !important;
  }
  .icon-text-pair {
    width: 120px;
  }
  .icon-text-pair h5 {
    font-size: 12px;
  }
  .fuel-consumption-div {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    text-align: left;
    margin: 20px auto;
  }
  .cost-breakdown {
    width: 90vw;
    gap: 15px;
  }
  .cost-breakdown .breakdown-list p,
.cost-breakdown .price-list p {
    font-size: 14px;
  }
  .cost-breakdown .total-price {
    text-align: right;
  }
  .cost-breakdown .price-list {
    text-align: right;
  }
  .average-petrol-price-desc {
    padding: 0;
  }
  .provider-options-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  footer {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  footer .footer-divs {
    position: relative;
  }
  footer .footer-divs hr {
    display: flex !important;
    width: 80vw;
    position: absolute;
    color: #c5c5c5;
  }
}/*# sourceMappingURL=global.css.map */